node_modules
professor_data.json
ExtractingPDF/output_data/professor_data.json
ExtractingPDF/output_data/professor_data.csv
ExtractingPDF/pdf_files/
ExtractingPDF/processed_data.xlsx
ExtractingPDF/*.log
ExtractingPDF/tree.xlsx
*.log
ImageToText/data/Final/*
ImageToText/*.log
/ExtractingPDF/data/
/ExtractingPDF/output_data
